body {
  background-image: url('https://bobr.kinoko.su/user-avatars-bucket/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-family: var(--default-ff), sans-serif;
  height: 100vh;
  width: 100%;
}
.main{
  padding-top: 86px;
}/*для отступа главных компонентов от хэдера*/
