// Media breakpoints
$breakpoint-0: 1500px;
$breakpoint-1: 1300px;
$breakpoint-2: 1020px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 450px;
$breakpoint-6: 350px;

:root {
  // Without padding container width
  --container-width: 1280px;
  // paddings
  --container-padding: 15px;
  --default-ff: 'Nunito Sans';
  --default-text-color: black;
  --accent: #6058ff;
  --accent-darker: #3d35d5;
  --accent-lighter: #e0deff;
  --almoust-black: #1d1c24;
  --bg: #fafcff;
  --danger: #dc2f2f;
  --danger-darker: #b30101;
  --dark-dark-gray: #42424d;
  --dark-gray: #787878;
  --gray: #aeb0c2;
  --light-gray: #ededed;
  --second-accent: #ef6323;
  --second-accent-darker: #d2390a;

  // Input
  --input-border: #e2e2e2;
  --placeholder: #909090;
  --error: #b92121;
  --placeholder-error: #df8f8f;
  --admin-bg: #ecf4ff;
  --input-shadow: rgba(122, 154, 238, 0.25);
  --input-error-shadow: rgb(188, 34, 34);

  // Font-Weight
  --extra-thin-weight: 300;
  --thin-weight: 400;
  --default-weight: 500;
}
