@import '../../../styles/base/Vars';

.paragraph {
  letter-spacing: 0;
  text-align: center;

  &_default {
    color: var(--default-text-color);
  }

  &_link {
    color: var(--link-text-color);
    text-decoration: underline;
  }

  &_error {
    color: var(--red);
  }

  &_level-1 {
    font-size: 20px;
    @media (max-width: $breakpoint-5) {
      font-size: 16px;
    }
  }

  &_level-2 {
    font-size: 18px;
  }

  &_level-3 {
    font-size: 16px;
  }

  &_level-4 {
    font-size: 15px;
  }

  &_level-5 {
    font-size: 12px;
  }
}
