@import '/src/shared/styles/base/Vars.scss';

.inputs-buttons {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  .buttons {
    margin-top: 24px;
    display: flex;
    width: 100%;
    gap: 12px;
    button {
      flex: 1;
    }
  }
}
.change-delete-buttons {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  .change,
  .delete {
    text-decoration: underline;
    cursor: pointer;
  }
  .change {
    color: var(--accent);
    &:hover {
      color: var(--accent-darker);
    }
  }
  .delete {
    color: var(--danger);
    &:hover {
      color: var(--error);
    }
  }
}

.ProfileInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 12px;
  div {
    max-width: 396px;
    width: 396px;
  }
}
.ProfileInputs > * {
  margin: 0 !important;
}

@media (max-width: $breakpoint-0) {
  .ProfileInputs {
    width: 100%;
    gap: 22px;
    margin-bottom: 4px;
  }
  .inputs-buttons {
    gap: 0;
  }
}
@media (max-width: $breakpoint-5) {
  .ProfileForm {
    width: 90%;
  }
  .inputs-buttons {
    width: 100%;
  }
  .ProfileInputs {
    width: 100%;
    div {
      width: 100%;
    }
  }
}
