.OtpInput {
  display: flex;
  width: 100%;
  column-gap: 10px;
  justify-content: center;

  &__input {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 24px;
    width: 55px;
    height: 80px;
    border: 1px solid black;
    border-radius: 12px;
  }
}
