.conferenceFooter {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  button {
    flex-shrink: 0;
  }

  &__leftSide {
    display: flex;
    column-gap: 5px;
  }

  &__rightSide {
    display: flex;
    column-gap: 12px;
  }

  &__membersBtn {
    display: flex;
    column-gap: 5px;
    color: white;
  }
}
.parts{
  display: flex;
  gap: 8px;
}
.overlay{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.str-but{
  display: flex;
  gap:8px;
}