.button {
  padding: 12px 24px;
  border-radius: 12px;
  height: 48px;
  display: flex;
  text-align: center;
  max-width: min(306px, 100%);
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &_custom {
    max-width: 100%;
    flex: 1;
  }

  &_default {
    h1,
    p {
      color: white;
    }
    background-color: var(--accent);
    //&:disabled {
    //  background-color: var(--orange-50);
    //}
    //&:hover:not(:disabled) {
    //  background-color: var(--orange-50);
    //}
  }

  &_green {
    background-color: var(--green);

    &:disabled {
      background-color: rgba(16, 104, 42, 0.5);
    }

    &:hover:not(:disabled) {
      background-color: rgba(16, 104, 42, 0.68);
    }
  }

  &_red {
    background-color: var(--red);

    &:disabled {
      background-color: rgba(203, 42, 6, 0.5);
    }

    &:hover:not(:disabled) {
      background-color: rgba(203, 42, 6, 0.67);
    }
  }

  &_secondary {
    box-shadow: 0 0 0 1px var(--white);
    background-color: transparent;
    h1,
    p {
      color: black;
    }
    border: 2px solid var(--accent);

    &:disabled {
      box-shadow: none;
      opacity: 0.7;
    }
  }
}
