.inputWrapper {
  max-width: 306px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 21px;

  .label {
    font-weight: 400;
    pointer-events: none;
    transition: 0.2s ease all;
    left: 15px;
    top: 22.5px;
    transform: translateY(-50%);
    position: absolute;
    font-size: 20px;
    color: var(--white-50);
  }
  .input {
    height: 49px;
    background-color: var(--dark-gray);
    box-shadow: 0 0 0 1px var(--light-gray);
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    line-height: 100%;
    color: var(--white);
    transition: 0.2s ease all;

    &:focus,
    &:not(:placeholder-shown) {
      padding: 15px 15px 4px 15px;
    }
  }

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: none;
    font-size: 15px;
    top: 2px;
  }

  &__error {
    padding-left: 15px;
    position: absolute;
    top: 49px;
  }

  &_invalid {
    .input {
      box-shadow: 0 0 0 1px var(--red);
    }

    .label {
      color: var(--red);
    }
  }
}
